page-profile-autocomplete-address {
    agm-map {
        height: 300px;
        margin-top: 2rem;
        }
    ion-item {
        margin-bottom: 2rem;
    }
    .item {
        margin-bottom: 2rem;
    }
    .item-md {
        margin-bottom: 2rem;
    } 
}
