page-admin-empresas {
    .colorRojoOscurobackground {
        background: #7C0000;
    }
    .item {
        background: #7C0000;
    }
    .topEditOffers {
        background: #000;
        color: #fff;
        padding: 2rem 0;
    }
    .ion-badge-x2 {
        font-size: 2rem;
    }
    .toggle-container {
        width: 30px;
        height: 14px;
    }
}
