<!--
  Generated template for the EditOffersPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
      <ion-title>Empresas</ion-title>
  </ion-navbar>
</ion-header>

<div *ngIf="showSplash" class="splash">
  <div class="spinner">
      <ion-spinner></ion-spinner>
  </div>
</div>

<ion-content class="colorRojoOscurobackground" >
  <ion-row class="topEditOffers">        
      <ion-col col-4 text-center>
          <ion-badge class="ion-badge-x2" color="colorAmarillo">{{companiesTotal}}</ion-badge>
          <br><small>EMPRESAS</small>
      </ion-col>
      <ion-col col-4 text-center>
          <ion-badge class="ion-badge-x2" color="colorRosa">{{companiesActives}}</ion-badge>
          <br><small>ACTIVAS</small>
      </ion-col>
      <ion-col col-4 text-center>
          <ion-badge class="ion-badge-x2" color="verdeDaniel">{{companiesWhatsappTotal}}</ion-badge>
          <br><small>WHATSAPPS</small>
      </ion-col>          
  </ion-row>    
  <ion-card color="colorRojoOscuro" *ngFor="let company of companies">
      <ion-row class="item-renglon">
          
        <ion-item>
            <ion-label (click)="goCompanyDetail($event,company)">{{company.name}}</ion-label>
            <div class="ion-badge-container" item-end>
                    <ion-badge item-center class="ion-badge" color="light">
                        {{company.whatsapps.lastMonthConsults}}
                    </ion-badge>
                </div>
                <div class="ion-badge-container" item-end>
                    <ion-badge item-center class="ion-badge" color="verdeDaniel">
                        {{company.whatsapps.thisMonthConsults}}
                    </ion-badge>
                </div>
            <ion-toggle color="verde" (ionChange)="toggleCompanyState(company)" [(ngModel)]="company.isAssigned"></ion-toggle>
        </ion-item>
          
      </ion-row>
  </ion-card>          
</ion-content>